@import '../../../styles/default.scss';

.admintrainingslistitem{
	// background: #ddd;
	// background-color: red !important;
	// padding:100px;
	// margin: 15px -10px !important;
	background-color: lighten($roya-blue,30%);
	-moz-background-clip: padding; /* Firefox 3.6 */
	-webkit-background-clip: padding; /* Safari 4? Chrome 6? */
	background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
	// -moz-background-clip: padding; /* Firefox 3.6 */
	// -webkit-background-clip: padding; /*Safari 4? Chrome 6?*/
	// background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
	// border: 5px solid rgba(lighten($roya-blue,0.9),0.1);
	// -webkit-border-radius: 25px;
	// -moz-border-radius: 25px;
	// border-radius: 25px;
	margin: 5px auto !important;
	// padding:0px !important;
	// width:100%;
	// button{
	// 	width:65px;
	// }
	// .pad{
	// 	padding: 6px 0 4px 0 !important;
	// }
	// .tf{
	// 	margin: -30px -10px -40px -10px;
	// 	width:100%;
	// 	// padding: 0;
	// }
	// .editsaveblock{
	// 	margin-top:-10px !important;
	// 	@media (min-width: 480px) {
	// 		margin-top:0px !important;
	// 	}
	// }
	&:hover{
		// background:radial-gradient(circle closest-side at 19px 20px, lighten(getMdlColor($color-primary),90%) 0,  lighten(getMdlColor($color-primary),70%) 207px, transparent 319px);
		-ms-transform: scale(1.02, 1.02); /* IE 9 */
    	-webkit-transform: scale(1.02, 1.02); /* Safari */
    	transform: scale(1.02, 1.02);
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2),0 8px 8px 0 rgba(0,0,0,0.1);
		@include transitionAll(.08s);
	}
	&:hover img{
		// background:radial-gradient(circle closest-side at 19px 20px, lighten(getMdlColor($color-primary),90%) 0,  lighten(getMdlColor($color-primary),70%) 207px, transparent 319px);
		-ms-transform: scale(0.98, 0.98); /* IE 9 */
    	-webkit-transform: scale(0.98, 0.98); /* Safari */
    	transform: scale(0.98, 0.98);
		// -ms-transform: scale(1.5, 1.5); /* IE 9 */
  //   	-webkit-transform: scale(1.5, 1.5); /* Safari */
  //   	transform: scale(1.5, 1.5);
		// box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2),0 10px 10px 0 rgba(0,0,0,0.1);
		@include transitionAll(.08s);
	}
	// .trbutton{
	// 	// background-color: $color-primary;//darken($roya-blue,30%);
	// 	padding-top:7px;
	// 	height:140px;
	// 	width:140px;
	// }
	.shortdescription{
		// font-family: 'Roboto Regular', Tahoma, sans-serif;
				// font-size:1.1em;
		// letter-spacing: -0.75px;
		text-align:justify;

		height:80px;
		margin-top:60px;
			// margin-bottom:6px;
			// margin-left:6px;
		margin:0px 10px 10px 10px !important;
	  	line-height: 20px;
	// p{
		background-color: #e0f0fc !important;//e6f3fc
		// 	margin-top:60px;
		// 	// margin-bottom:6px;
		// 	// margin-left:6px;
		// 	margin:0px 10px 10px 10px;
		//   	line-height: 20px;
		// }
	}

	h4{
	    font-family: 'Dancing Script', Tahoma, sans-serif;
		// background-color: darken($roya-blue,30%);
		// color:darken($roya-blue,30%);
		margin:25px 10px 0px 0px;
		padding: 0;
		text-transform: none;
	  	font-size:1.3em;
		letter-spacing: -1.5px;
	  	line-height: 18px;
	  	text-align:right;
	}
	h5{
	    font-family: 'Dancing Script', Tahoma, sans-serif;
		// background-color: darken($roya-blue,30%);
		// color:darken($roya-blue,30%);
		margin:0px 10px 0px 0px;
		padding: 0;
		text-transform: none;
	  	font-size:1.0em;
		letter-spacing: -1.5px;
	  	line-height: 12px;
	  	text-align:right;
	}
	.buttonwrap{
		margin:-8px 0px 4px 0px;
		// height:40px;
		// background-color: orange;
	}
	.schedulebutton, .editbutton{
		margin:0px 4px !important;
		width:35px !important;
		height:35px;
		// padding:10px 10px 10px 10px;
		// background-color: darken($roya-blue,30%);
		// background-image:url('../../../images/calendar.svg');
		background-repeat:no-repeat;
		background-position:center;
		background-size:25px 25px;
		border-radius: 50%;
		// background: url("../../../images/calendar.svg") no-repeat center;
		// background: url("../../../images/calendar.svg") no-repeat center;
		// width:20px !important;
		// height:40px !important;
		// padding:10px 10px 10px 10px;
		color: white;
	}
	.schedulebutton{
		background-image:url('../../../images/calendar.svg');
	}
	.editbutton{
		background-image:url('../../../images/edit.svg');
	}
	// #home {

	// 	font-size: 15px;
	// 	padding: 0px 0px;
	// 	border-radius: 100%;
	// 	color: #ffffff; 
	// 	background: #666666;
	// 	border: 2px solid #666666;

	// } 
	.promo{
	    font-family: 'Dancing Script', Tahoma, sans-serif;
	  	font-size:1.0em;
		// background-color: darken($roya-blue,30%);
		color:darken($redlight,0%);
		margin:2px 0px 0px 10px;
		padding: 0;
		text-transform: none;
		letter-spacing: -1.5px;
	  	// line-height: 15px;
	  	float:left;
	}
	.duration{ //duration
	    font-family: 'Dancing Script', Tahoma, sans-serif;
		// background-color: pink !important;
	  	font-size:1.0em;
	  	margin-right:12px;
		margin-top:2px;
		// margin-bottom:6px;
		// margin-left:6px;
		float:right;
		// text-align:right;
		// margin:15px 10px 15px 10px;
		letter-spacing: -0.75px;
		white-space: nowrap;
	}
	// img{
	// 	// background-color: red;7
	// 	// background:radial-gradient(circle closest-side at 50% 50%, lighten(white,100%) 0,  lighten($roya-blue,15%) 95%, transparent 100%);
	// 	// margin-top:-10px;
	// 	margin-left: -126px;
	// 	// right:100px
	// 	width:50px;
	// 	height:50px;
	// 	// margin-bottom:-30px;
	// 	position:absolute;
	// 	// @media (min-width: 992px) {
	// 	// 	right:16.4%;
	// 	// }
	// }
	.imgwrapperheight{
		height:80px;
		width:0px;
		// background-color: orange;
		.imgwrapper{
			position:absolute;
			// margin:auto;
			margin-top:10px;
			margin-left:10px;
			width:60px;
			height:60px;
			
			// margin-bottom:10px;
			// background-color: red;
			// margin-top:-8px;
			// margin-right:78px;
			// float: right;
			// right:0px;
			// background-color: red;
			// margin-bottom:-30px;
			// position:absolute;
			// @media (min-width: 480px) {
			// 	right:0px;
			// }
			img{
				// margin-left: -99px;
				width:100%;
				height:100%;
				// margin-top:0px;
				// margin-left:10px;
				// position:absolute;
			}
			.spinner{
				width:30px;
				height:30px;
				margin-top: 13px;
				margin-left: 15px;
				margin-bottom: 15px;
				position:absolute;
			}
		}
	}	

}

// .center-items {
// 	background-color: lighten(orange,30%);
// 	// justify-content: center;
// 	margin: 0;
// }
