@import '../../../styles/default.scss';


.admintrainingslist{
	// background-color: pink!important;
	// margin-top: 30px;
	
	// padding: 0;

	// .mdl-grid--no-spacing
	// {
	// 	// width:100%;
	// margin: 0 auto;
	// 	// padding: 0px;
	// }	
	width:100%;
	form{
	 	margin: 0px;
	 	// padding: 0px;
	 	// width:33.33%;
	}
	.admintrainingslistwrap{
		// background-color:yellow;
		width:100%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.spinnerwrap{
		margin:auto;
		margin-top: 5%;
		width:120px;
		height:120px
	}
}

// .admintrainingslist .mdl-grid
// // ,.trainingslist .mdl-cell
// // ,.trainingslist .mdl-cell--4-col
// {
// 	margin: 0px;
// 	padding: 0px;
// }
// // .bgo{
// // 	background-color: orange !important;
// // }
// // .bgp{
// // 	background-color: pink!important;
// // }
// // .bgr{
// // 	background-color: !important;
// // }
// // .marg0{
// // 	margin: 0;
// // }

// .admintrainingslist form{
//  	margin: 0px;
//  	// padding: 0px;
//  	// width:33.33%;
// }

// // .center-items {
// //   justify-content: center;
// // }

// // .trainingslist{
// // }
