@import '../../../styles/default.scss';

.trainingedit {

  width: 95%;
  margin: auto;
  // background-color: white;
  background-color: lighten($roya-blue, 30%);

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  // 	border: 5px solid rgba(lighten($roya-blue,0.9),0.1);
  // //	border: 1px solid rgba(black,0.4);
  // 	-webkit-border-radius: 25px;
  // 	-moz-border-radius: 25px;
  // 	border-radius: 25px;
  // height:250px;
  // text-align: center;
  input {
    font-family: 'Roboto', Tahoma, sans-serif;
    // background-color: darken($roya-blue,10%);
    // margin:20px
  }
  label {
    font-family: 'Roboto', Tahoma, sans-serif;
  }
  .spinnerwrap {
    margin: auto;
    margin-top: 2px;
    width: 30px;
    height: 30px;
    // background-color:yellow;
  }

  .footer {
    height: 50px;
  }
  // .mdl-textfield{
  // 	width:100%
  // }
  .container {
    width: 100%;
  }

  .fileuploadinput {
    margin: 30px -15px 0 15px !important;
    // padding:0px 0 0 10px !important;
    @media (min-width: 768px) {
      margin: 40px 0 0 0px !important;
    }

  }

  .imgwrapper {
    // margin-top: -8px;
    margin: 8px;
    width: 90px;
    height: 90px;
    @media (min-width: 768px) {
      width: 120px;
      height: 120px;
    }
  }

  @media (min-width: 768px) {
    width: 85%;
  }

}
