@import '../../styles/default.scss';

.bigcalendaredit {
  // position:relative;

  .rbc-time-column .rbc-timeslot-group {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .rbc-timeslot-group {
    //border-bottom: 1px solid #DDD;
    border-bottom: 0px solid red;
    min-height: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 5px;
    // background-color: red;

  }

  //THe next three blocks eliminate the all-day line in the calendar
  .rbc-time-content {
    border-top: none;
    //background-color: red;
  }
  .rbc-time-content > * + * > * {
    border-left: 0px solid rgba(grey, 0.2);
  }

  .rbc-timeslot-group > *:nth-child(2n) {
    background-color: rgba(getMdlColor($color-primary), 0.3); //rgba(grey, 0.2);
  }

  .rbc-time-slot {
    border: 0px;
  }
  .rbc-addons-dnd-over {
    background-color: getMdlColor($color-primary) !important; //rgba(grey, 0.2);
  }
  //.rbc-label{
  //  background-color: rgba(grey, 0.5);
  //  //margin: 0;
  //  //border:10px;
  //}

  //.rbc-time-content > * + * > * :nth-child(2n) {
  //  background-color: rgba(grey, 0.1);
  //}
  .rbc-time-view .rbc-row {
    display: none;
  }
  h4 {
    font-family: $RoyaMainFont;
    //background-color: lighten($redlight,30%);
    // color:darken($roya-blue,30%);
    margin: 5px 0px 5px 0px;
    padding: 0;
    text-transform: none;
    font-size: 1.3em;
    letter-spacing: -1.5px;
    line-height: 22px;
    height: 24px;
    text-align: left;
    @media (min-width: 768px) {
      margin: 10px 0px 10px 4px;
    }
    @media (min-width: 992px) {
      margin: 15px 0px 15px 4px;
    }
  }
  ul {
    width: 99.2%;
    margin: 0 0 -4px 0.4%;
    display: table;
    table-layout: fixed; /* optional, for equal spacing */
    border-collapse: collapse;
  }
  li {
    display: table-cell;
    text-align: center;
    // border: 1px solid pink;
    vertical-align: middle;
    // background-color: $roya-blue;
    background-color: rgba(getMdlColor($color-primary), 0.4);

  }
  ul li:nth-child(1) {
    width: 51px;
    // background-color: rgba(gray,0.1);
  }

  // padding:50px;
  margin: 0px;
  border: 0px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  background-color: lighten($roya-blue, 30%);
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */

  //button {
  //  width: 45px;
  //}

  .buttonwrap {
    position:absolute;
    right:3%;
    margin: 7px 0px 0px 0px;
    //margin-right: 150px !important;
    //text-align:right;
    //height: 40px;
    //background-color: orange;
    @media (min-width: 768px) {
      position:relative;
      text-align:right;
      margin: 2px -10px 0px 0px;
    }
    @media (min-width: 992px) {
      margin: -2px -10px 0px 0px;
    }
  }

  .eventbuttonwrap {
    margin: 7px 0px 0px 0px;
    height: 35px;

    @media (min-width: 768px) {
      margin: 2px 0px 0px 0px;
    }
    @media (min-width: 992px) {
      margin: -2px 0px 0px 0px;
    }

    // background-color: orange;
  }
  .colorbutton1 {
    background-color: rgba($eventcolor1,0.7);
  }
  .colorbutton2 {
    background-color: rgba($eventcolor2,0.7);
  }
  .colorbutton3 {
    background-color: rgba($eventcolor3,0.7);
  }
  .colorbutton4 {
    background-color: rgba($eventcolor4,0.7);
  }
  .save1 {
    position:absolute;
    right:3%;
    top:95px;
    //background-color: orange !important; //'#f4f #f34'
    //margin: 10px 0px 2px 0px !important;
    display:block;

    @media (min-width: 768px) {
      position:relative;
      display:none;
    }
  }
  .save2 {
    display:none;
    @media (min-width: 768px) {
      display:inline;
    }
  }
  .pad {
    padding: 6px 0 4px 0 !important;
  }
  .tf {
    margin: -30px -10px -40px -10px;
  }
  //.buttonblock {
  //  margin: 4px auto 4px auto !important;
  //  // @media (min-width: 480px) {
  //  // 	margin-top:0px !important;
  //  // }
  //}
  .duration {
    max-width: 70px;
    @media (min-width: 768px) {
      max-width: 80px;
    }
    @media (min-width: 992px) {
      max-width: 90px;
    }
  }
  .eventbutton {
    margin: 0px 0px 0px 2px!important;
    width: 35px !important;
    height: 35px;
    @media (min-width: 768px) {
      width: 40px !important;
      height: 40px;
      margin: 0px 0px 0px 8px !important;
    }
    @media (min-width: 992px) {
      width: 45px !important;
      height: 45px;
      margin: 0px 0px 0px 16px !important;
    }
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: transparent; //'#f4f #f34'
  }
  .buttonborder {
    //border: 2px;
    //border-style: solid;
    //border-radius: 50%;
    //background-color: getMdlColor($color-primary);
    border-color: black; //'#f4f #f34'
  }
  .glyphicon-chevron-down{
    color: getMdlColor($color-primary);
  }
  // p{
  // 	// background-color: pink !important;
  // 	margin-top:6px;
  // 	margin-bottom:6px;
  // 	margin-left:6px;
  // }
  // img{
  // 	// background-color: red;
  // 	// background:radial-gradient(circle closest-side at 50% 50%, lighten(white,100%) 0,  lighten($roya-blue,15%) 95%, transparent 100%);
  // 	// margin-top:-10px;
  // 	margin-left: -126px;
  // 	// right:100px
  // 	width:50px;
  // 	height:50px;
  // 	// margin-bottom:-30px;
  // 	position:absolute;
  // 	// @media (min-width: 992px) {
  // 	// 	right:16.4%;
  // 	// }
  // }
  // .spinner{
  // 	margin-top: 12px;
  // 	margin-left: -116px;
  // 	width:30px;
  // 	height:30px;
  // 	position:absolute;
  // }

  // .imgwrapper{
  // 	margin-top:-8px;
  // 	// margin-right:78px;
  // 	float: right;
  // 	right:95px;
  // 	// background-color: $reddark;
  // 	// margin-bottom:-30px;
  // 	// position:absolute;
  // 	@media (min-width: 480px) {
  // 		right:110px;
  // 	}
  // 	// @media (min-width: 840px) {
  // 	// 	right:17%;
  // 	// }
  // }

}

.center-items {
  justify-content: center;
}

.right-items {
  float: right;
}

.left-items {
  float: left;
}

.loading {
  margin: 0px auto !important;
  // margin: auto !important;
  // padding:6px 0;
  z-index: 10;
  left: 35%;
  width: 30%;
  height: 30px;
  // color: white;
  // margin: 0 auto;
  position: absolute;
  // justify-content: center;
  // background-color: lighten($roya-blue,20);
  // border: 5px solid rgba(lighten($roya-blue,0.9),0.1);
  // -webkit-border-radius: 25px;
  // -moz-border-radius: 25px;
  // border-radius: 25px;
}

.loadingbar {
  // margin: 2px auto !important;
  z-index: 20;
  left: 0%;
  width: 100%;
  position: absolute;
  // background-color: lighten($roya-blue,20);
  // border: 5px solid rgba(lighten($roya-blue,0.9),0.1);
  // -webkit-border-radius: 25px;
  // -moz-border-radius: 25px;
  // border-radius: 25px;
}
