@import '../../styles/default.scss';

.logospinner {
      width: 80%;
    margin: 10% auto 10% auto;
    position: relative;
      .mdlspinnerwrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
                    .mdlspinner {
            margin-top: 14.5%;
                                    width: 74%;
      height: 74%;
                }
  }

  .logowrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
                        .logo {
            margin-left: -5%;
            width: 100%;
      height: 100%;
                  background: radial-gradient(circle closest-side at 52% 51.5%, #ffffff 0%, #d6e5f2 70%, transparent 75%);           }
  }
  .mdl-spinner__layer-1, .mdl-spinner__layer-2, .mdl-spinner__layer-3, .mdl-spinner__layer-4 {
    border-color: darken(getMdlColor($color-primary), 35%) !important;
              }

}

.logospinner:after {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

