<!DOCTYPE html>
<html>
  <head>
    <title>My EJS App</title>
  </head>

  <body>
    <div id="root"><%- markup %></div>
    <script type="text/javascript" src="bundle.js" ></script>
  </body>

</html>