@import '../styles/default.scss';

$backgroundimg:'../images/wallpaper-1.jpg';

// $backgroundimg:'../images/abstract-blue-curve-vector-background-21346.jpg';
// $backgroundimg:'../images/cloud-background-resized3-vail-blue-sky-limo.jpg';
// $backgroundimg:'../images/light-blue-background-wallpaper-1.jpg';

// $backgroundimg:'../images/bluesky1.jpg';

// $backgroundimg:'../images/newbg/11485_1920x1080_FullHD_wallpaper.jpg';
// $backgroundimg:'../images/newbg/6202323879_24c7f565f0_z.jpg';
// $backgroundimg:'../images/newbg/abstract_watercolor_background_6826009.jpg';
// $backgroundimg:'../images/newbg/clouds-02-640.png';
// $backgroundimg:'../images/newbg/d0136f768bf1f7a0712ac8742edf01cb.jpg';
// $backgroundimg:'../images/newbg/HD2.jpg';



body{
  // background-color: rgba( $beige, .99 );//rgba(210,210,210,0.1);
  // background: url($backgroundimg) no-repeat center center fixed;
  // -webkit-background-size:cover;
  // -moz-background-size:cover;
  // -o-background-size:cover;
  // background-size:cover;


// background-repeat: no-repeat;
// background-attachment: fixed;
// background: -moz-radial-gradient(center, ellipse cover,  #6bc1ff 0%, #003870 88%, #003870 100%);  
// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6bc1ff), color-stop(88%,#003870), color-stop(100%,#003870));  
// background: -webkit-radial-gradient(center, ellipse cover,  #6bc1ff 0%,#003870 88%,#003870 100%);  
// background: -o-radial-gradient(center, ellipse cover,  #6bc1ff 0%,#003870 88%,#003870 100%);  
// background: -ms-radial-gradient(center, ellipse cover,  #6bc1ff 0%,#003870 88%,#003870 100%);  
// background: radial-gradient(ellipse at center,  #6bc1ff 0%,#003870 88%,#003870 100%);  
// // background: radial-gradient(circle closest-side at 65% 40%, #6bc1ff 0%, #014a94 180%, #003870 250%);
// background: radial-gradient(circle closest-side at 65% 40%, #003870 0% #003870 100%);


  // *:after {
  //   content: "";
  // background: url($backgroundimg) no-repeat center center fixed;
  // -webkit-background-size:cover;
  // -moz-background-size:cover;
  // -o-background-size:cover;
  // background-size:cover;
  //   opacity: 0.1;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;   
  // }
  *:focus {
    outline: none;
  }
}

// .container{
//   width:100%;
//   // margin: 0 auto;
//   // background-color: red;
// }

.blockborder{
  // border: 2px solid rgba(black,0.1);
  border: 3px solid rgba(white,0.3);
  // border: 5px solid rgba($orangelight,0.3);
  
  // border: 5px solid rgba(lighten($roya-blue,0.9),0.3);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  // margin: 4px 0 !important;
}

//fix the gap created with bootstrap. See http://stackoverflow.com/questions/39535700/material-design-lite-bottom-line-in-text-field-has-a-slight-gap-with-colored-l
.mdl-textfield__label{  
   margin-bottom:0px;
 }

@font-face {
  // src: url('../styles/RBNo2Light.otf') format("truetype");
  // src: url('../styles/RBNo2Light_a.otf') format("truetype");
  // src: url('../styles/Ailerons-Typeface.otf') format("truetype");
  // src: url('../styles/Arkhip_font.otf') format("truetype");
  // src: url('../styles/Azedo-Bold.otf') format("truetype");
  // src: url('../styles/Azedo-Light.otf') format("truetype");
  // src: url('../styles/Kankin.otf') format("truetype");
  // src: url('../styles/LockSmith_reg.otf') format("truetype");
  font-family: 'Dancing Script';
  // src: url('../styles/neuropolitical rg.ttf') format("truetype");
  src: url('../styles/Arkhip_font.ttf') format("truetype");
  // src: url('../styles/Kankin.ttf') format("truetype");
  // src: url('../styles/Oranienbaum.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../styles/Roboto-Regular.ttf') format("truetype");
}



.bgo{
  background-color: orange !important;
}
.bgp{
  background-color: pink!important;
}
.bgr{
  background-color: red !important;
}