// @import '../styles/default';
@import '../styles/default.scss';



// canvas{
// 	z-index: -900;
// 	position: fixed;
// 	top:0;
// 	left:0;
// 	width:100%;
// 	height:100%;
// 	opacity:0.5;
// }

#wavybg-wrapper{
	z-index: -1000;
	position: fixed;
	width:100%;
	height:100%;	
	// visibility:hidden;
	opacity:0;
	canvas{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:1;
	}
}

#starbg-wrapper{
	z-index: -800;
	position: fixed;
	width:100%;
	height:100%;	
	// visibility:hidden;
	opacity:1;
	canvas{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:1;
	}
}

// #text-wrapper{
// 	z-index: -850;
// 	position: fixed;
// 	width:100%;
// 	height:100%;	
// 	// visibility:hidden;
// 	opacity:0.5;
// 	// background-color: black;
// 	p{
//     	font-family: "Dancing Script", Tahoma, sans-serif;
//     	font-size:25px;
// 		color: white;
// 		position: absolute;
// 		top:85px;
// 		left:2%;
// 		width:80%;
// 		height:40px;
// 		opacity:1;
// 		text-align:left;
// 		// background-color: red;
// 		@media (min-width: 768px) {
// 			width:60%;
// 			top:100px;
// 			font-size:32px;
// 			left:2%;
// 		}
// 		@media (min-width: 992px) {
// 			width:60%;
// 			top:160px;
// 			font-size:38px;
// 			left:6%;
// 		}
		
// 	}
// }

#appcomp{
	.fadein{
	 opacity : 1; 
	 transition:opacity 0.6s; 
	}

	//width:95%;
	//margin-top:-200px;
	// background-color: red;
	//position: fixed;
	//align-text:center;
	// div#wait{
	//  color: black;
	//  position: fixed;
	//  //top:100px;
	// }

	// background-color: rgba(black,0.4);
	// background-color: red;
	// font-family: 'Roboto Regular', Tahoma, sans-serif;

	button{
	    font-family: 'Dancing Script', Tahoma, sans-serif;
		// background-color: darken($roya-blue,30%);
		margin:0 2px 0px 0px;
		padding: 1px 0px 2px 0px;
		text-transform: none;
	  	font-size:1.0em;
	  	letter-spacing: -1px;
		// font-size:1.5em;
		&:disabled{
			color: lighten($roya-blue,10%);
		}
	}
}
#contt{

	font-family: 'Roboto Regular', Tahoma, sans-serif;
	font-size:1.15em;
	letter-spacing: -0.75px;
	// background-color: rgba(white,0.8);
	padding-top: 90px;
	// width:90%;
	margin: auto;
	// overflow: hidden;
//	position: fixed;
	// background-color: rgba(210,110,10,0.4);
	// background-color: magenta;
	overflow: hidden;
	h3{
		margin:0;
	}
	p{
		font-size:1.15em;
		letter-spacing: -0.75px;
		text-align:justify;
		// background-color: rgba(210,210,210,0.1);
	}
	@media (min-width: 768px) {
		padding-top: 110px;
	}
	@media (min-width: 992px) {
		padding-top: 170px;
	}

}

#appsnackbar{
	background-color:darken($roya-blue,10%);
	div {
		margin: auto;
		color:yellow;
   	}

}

// #appdialog{
// 	font-family: 'Roboto Regular', Tahoma, sans-serif;
// 	font-size:1.5em;
// 	p{
// 		font-family: 'Roboto Regular', Tahoma, sans-serif;
// 		font-size:1.5em;
// 	}
// 	button{
// 		opacity: 1;
// 		margin: auto;
// 		right: 4%;
// 		background-color:darken($roya-blue,10%);
// 		color: white;
// 		text-shadow:0px 0px transparent;
// 	}
// 	h1{
// 		color:$orangelight;
// 	}
// 	// #butt{
// 	// 	text-align:center;	
// 	// 	background-color:pink;
// 	// }
// }