div{
 text-align:center;
}
table{
 float:center;	
}

.todoapp{
	width: 100%;
	margin: 0 auto;
	// background-color:orange;
	@media (min-width: 768px) {
		// background-color:pink;
		width: 100%;
	}
	@media (min-width: 992px) {
		// background-color:red;
		width: 85%;
	}	
}