@import '../styles/default.scss';

.todoslist .mdl-grid
// ,.todoslist .mdl-cell
// ,.todoslist .mdl-cell--4-col
{
	margin: 0px;
	padding: 0px;
}
.bgo{
	background-color: orange !important;
}
.bgp{
	background-color: pink!important;
}
.bgr{
	background-color: !important;
}
.marg0{
	margin: 0;
}

.todoslist form{
 	margin: 0px;
 	// padding: 0px;
 	// width:33.33%;
}

.center-items {
  justify-content: center;
}

.todoslist{
	// @media (min-width: 768px) {
	// 	background-color:orange;
	// 	width: 100%;
	// }
}
