@import '../../../styles/default.scss';

.trainingslistitem {
  margin: 15px 0;
  background-color: lighten($roya-blue, 30%);
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
  button {
    width: 65px;
  }
  .pad {
    padding: 6px 0 4px 0 !important;
  }
  .tf {
    margin: -30px -10px -40px -10px;
    width: 100%;
  }
  .editsaveblock {
    margin-top: -10px !important;
    @media (min-width: 480px) {
      margin-top: 0px !important;
    }
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
  }
  img {
    margin-left: -126px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .spinner {
    margin-top: 12px;
    margin-left: -116px;
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .imgwrapper {
    margin-top: -8px;
    float: right;
    right: 95px;
    @media (min-width: 480px) {
      right: 110px;
    }
  }

}

.center-items {
  justify-content: center;
}

.right-items {
  float: right;
}

.left-items {
  float: left;
}

.error {
  margin: 2px 0 0 auto !important;
  z-index: 10;
  left: 15%;
  width: 70%;
  height: 30px;
  color: white;
  position: absolute;
  background-color: $reddark;
  border: 3px solid rgba(black, 0.1);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.loading {
  margin: 0px auto !important;
  z-index: 10;
  left: 35%;
  width: 30%;
  height: 30px;
  position: absolute;
}

.loadingbar {
  z-index: 20;
  left: 0%;
  width: 100%;
  position: absolute;
}
