@import '../../../styles/default.scss';

#trainingcommandpanel {

  width: 100%;
  margin: 5px auto;
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 70%;
  }

  .tf {
    margin: -14px -10px -40px -40px;
    width: 100%;
  }
  button {
    margin: 0px;
  }

  .error {
    z-index: 10;
    left: 15%;
    width: 70%;
    height: 30px;
    color: white;
    position: absolute;
    background-color: $reddark;
    border: 3px solid rgba(black, 0.1);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: -104px !important;
    @media (min-width: 840px) {
      margin-top: -56px !important;
    }

  }
}
