@import '../../styles/default.scss';

div{
 text-align:center;
}
table{
 float:center;	
}

.trainingapp{
	width: 95%;
	margin: 0 auto;
	h4 {
		font-family: 'Dancing Script', Tahoma, sans-serif;
		color: white;
		float: left;
		margin-left:10px;
	}
	// background-color:orange;
	@media (min-width: 480px) {
		// background-color:pink;
		width: 90%;
	}
	@media (min-width: 840px) {
		// background-color:red;
		width: 85%;
	}	
}