@import '../../styles/default.scss';

#bs-example-navbar-collapse-1 {
  .navbar-collapse, .collapse {
    border: none;
    overflow: hidden;
  }
  .navbar-left {
    margin-bottom: 0px;
  }

  .navbar-right {
    margin-bottom: 3px;
  }

  .navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 100px;
  }

  .navbar-right li, .navbar-left li {
    margin-top: 2px;
  }

  .navbar-right li:first-child {
    margin-top: 0px;
    &:hover, &:focus {
      margin-top: 0px;
      margin-bottom: 2px;
    }
  }

  a, li {
    min-width: 55px;
    font-family: $RoyaMainFont;
    letter-spacing: -2px;
    span {
      font-size: 0.7em;
    }
  }

  a {
    font-size: 1.8em;
    display: block;
    color: darken($roya-blue, 35%);
    float: left;
    white-space: nowrap;
    background: radial-gradient(circle closest-side at 35px 21px, lighten($roya-blue, 19%) 0, lighten($roya-blue, 19%) 18px, transparent 19px);
    &:hover, &:focus {
      @extend .active;
    }
  }

  .active {
    color: darken(getMdlColor($color-primary), 30%);
    background: radial-gradient(circle closest-side at 35px 21px, lighten(getMdlColor($color-primary), 30%) 0, lighten(getMdlColor($color-primary), 30%) 18px, transparent 19px);

    border: 1px solid transparent;
    text-decoration: none;
    margin-bottom: -2px;
  }
  .toggloginfetch {
    background: radial-gradient(circle closest-side at 19px 20px, lighten($orangelight, 30%) 0, lighten($orangelight, 30%) 17px, transparent 19px) !important;
  }

  @media (min-width: 768px) {
    display: inline-block;
    .navbar-left, .navbar-right {
      margin-top: 36px;
      li a {
        font-size: 1.8em;
        margin: -8px;
      }
    }
    .navbar-nav {
      width: auto;
    }
    .active {
      border: 0px solid transparent;
      background: radial-gradient(circle closest-side at 35px 26px, lighten(getMdlColor($color-primary), 30%) 0, lighten(getMdlColor($color-primary), 30%) 18px, transparent 20px);

    }
    a {
      width: 100%;
      display: inline;
      float: center;
      white-space: nowrap;
      background: radial-gradient(circle closest-side at 35px 26px, lighten($roya-blue, 19%) 0, lighten($roya-blue, 19%) 18px, transparent 20px);
      &:hover, &:focus {
        border: 0px solid transparent;

      }
    }

    .navbar-right li:first-child {
      margin: 3px 0px 0px 0;
      &:hover, &:focus {
        margin: 3px 0px 0px 0px;
      }
    }

  }

  @media (min-width: 992px) {
    .navbar-left, .navbar-right {
      margin-top: 58px;
    }
    .navbar-right {
      margin-right: 2%;
    }
    nav ul {
      margin-top: 70px;
    }
    nav button, nav a, nav li {
      font-size: 1.9em;
    }
    .active {
      margin: 43px 0px 0px -2px;
    }

    a {
      margin-top: 45px;
      &:hover, &:focus {
        margin: 43px 0px 0px -2px;
      }
    }
  }

}
